


.section4{
    

    
    width: 100%;
height: 67px;
background-color: white;
display: flex;
align-items: center;



.pp-p{
 width: 77%;
 height: 90px;
 display: flex;
justify-content: end;
align-items: center;
margin-left: 116px;

    p{
    font-size: 29px;
    color: black;
    }
   
    }
}